p{
    text-align: justify;
}
body{
    background-color: black;
    color: white;
}
h1{
    color: rgb(7, 176, 233);
    text-align: center;
}
p{
    font-style: italic;
} 
hr{
    border: 2px solid white;
}
h2{
    color: orange;
}
ul{
    padding-left: 80px;
}
ol{
    padding-left: 80px;
}