p{
    text-align: justify;
}
body{
    background-color: black;
    color: white;
}
h1{
    color: rgb(7, 176, 233);
    text-align: center;
}
p{
    font: italic;
} 
hr{
    border: 2px solid white;
}
.one{
    color: greenyellow;
    text-align: center;
}
#one{
    padding-left: 450px;
    font-size: 30px;
    margin: 100px;
}
.two{
    color: aqua;
    text-align: center;
}
#two{
    padding-left: 450px;
    font-size: 30px;
    margin: 100px;
}
.three{
    color: blueviolet;
    text-align: center;
}
#three{
    padding-left: 450px;
    font-size: 30px;
    margin: 100px;
}
.four{
    color: rgb(227, 8, 70);
    text-align: center;
}
#four{
    padding-left: 450px;
    font-size: 30px;
    margin: 100px;
}
h2{
    color: orange;
}
